.logo {
    max-width: 150px;
    top: 20px; /* Alineación vertical */
    right: 20px; /* Alineación horizontal */
}

#map {
    width: 100%;
    height: 350px;
}

#map-container {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}

#ubicacion-actual-btn {
    position: absolute;
    bottom: 110px;
    right: 25px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap;
    z-index: 1;
    width: 10px;
}

#ubicacion-actual-btn:hover {
    background-color: #f8f8f8;
}

.detail-result {
    margin-top: 10px;
}

.img-content {
    height: 250px;
    width: 300px;
    margin: 3px;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-resultado {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.container-map-client {
    width: 400px;
    height: 500px;
}

.section-map {
    display: flex;
    justify-content: center;
}

.container-button{
    display: flex;
    justify-content: center;
}


  